footer {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-overflow: clip;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.blink {
    animation: blinker 0.1s linear infinite;
}

@keyframes blinker {
    50% {
        color: white;
    }
}